@scope (.recent-card) {
    .live-recent-content {
        background-color: #fff;
        border: 1px solid #e1e8ed;
        border-top: 0;
    }

    .live-recent-content .live-recent-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .live-recent-content .live-recent-list li {
        border-bottom: 1px solid #e1e8ed;
        padding: 0.2rem 0.6rem;
    }

    .live-recent-content .live-recent-list li:last-child {
        border-bottom: none;
    }

    .live-recent-content .live-recent-list .recent-item {
        font-size: 0.80rem;
        color: #373a3c;
    }

    .live-recent-content .live-recent-list .recent-item .new {
        font-size: 0.80rem;
        color: #b73333;
    }

    .live-recent-content .live-recent-list .recent-item.removed {
        text-decoration: line-through;
    }

    .live-recent-content .live-recent-list .recent-item.removed:hover {
        text-decoration: underline !important;
    }
}

.theseed-dark-mode .recent-card .live-recent-content .live-recent-list li {
    border-color: #777;
}

.theseed-dark-mode .recent-card .live-recent-content .live-recent-list .recent-item {
    color: #ddd;
}