@scope (#search) {
    .v-autocomplete-list {
        position: absolute;
        z-index: 3;
        border: 1px solid #CCC;
        background-color: #fff;
        width: 10.8rem;
    }

    @media (max-width: 1023px) {
        .v-autocomplete-list {
            width: 100%;
        }
    }

    .v-autocomplete-list-item {
        cursor: pointer;
        color: #373a3c;
        padding: 0.5rem;
        word-break: break-all;
    }

    .v-autocomplete-list-item.v-autocomplete-item-active {
        background-color: #f3f6fa;
    }
}

.theseed-dark-mode #search .v-autocomplete-list {
    background-color: #2d2f34;
    border: 1px solid #383b40;
}

.theseed-dark-mode #search .v-autocomplete-list-item {
    color: #ddd;
}

.theseed-dark-mode #search .v-autocomplete-list-item.v-autocomplete-item-active {
    background-color: #383b40;
}