<div class="recent-card">
    <div class="live-recent-content" style="border-bottom-right-radius: 12px;border-bottom-left-radius: 12px;">
        <ul class="live-recent-list" id="live-recent-list" style="padding-top: 10px;">
            <div x-show="$store.state.recent.length === 0">
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
                <li><span class="recent-item">&nbsp;</span></li>
            </div>
            <div x-show="$store.state.recent.length > 0">
                <template x-for="(r,i) in $store.state.recent.slice(0, <%=typeof limit === 'undefined' ? 15 : limit%>)" :key="i">
                    <li>
                        <a class="recent-item" :class="{ 'removed': r.status === 'delete' }" :href="doc_action_link(r.document, 'w')" @click="$store.state.aClickHandler">
                            <span :class="{ 'removed-recent': r.status === 'delete' }" class="recent-item-text"><span x-text="r.document"></span></span>
                            <span class="recent-item-date"><span x-html="getFullDateTag(new Date(r.date * 1000), 'relative')"></span></span>
                        </a>
                    </li>
                </template>
            </div>
        </ul>
    </div>
</div>