<div id="search">
  <form id="searchform" class="form-inline" @submit.prevent x-data="search">
    <div class="input-group">
      <span class="input-group-btn">
        <a href="/random">
          <button class="btn btn-secondary random-btn"><span class="fa fa-random random-btn-txt"></span></button>
        </a>
      </span>
      <div class="input-search">
        <input x-ref="input" type="search" name="q" placeholder="검색을 시작해보세요" accesskey="f" class="form-control" id="searchInput" autocomplete="off" x-model="searchText" @blur="blur" @focus="focus" @input="inputChange" @keydown.enter="keyEnter" @keydown.tab="keyEnter" @keydown.up="keyUp" @keydown.down="keyDown">
        <div x-cloak x-show="show" class="v-autocomplete-list">
          <template x-for="(item, i) in internalItems">
            <div class="v-autocomplete-list-item" @click="onClickItem(item)" x-bind:key="i" :class="{'v-autocomplete-item-active': i === cursor}" @mouseover="cursor = i">
              <div x-text="item"></div>
            </div>
          </template>
        </div>
      </div>
      <span class="input-group-btn">
      <button type="submit" name="fulltext" value="검색" class="btn btn-secondary" @click="onClickSearch"><span class="fa fa-search"></span></button>
      <button type="submit" name="fulltext" value="보기" class="btn btn-secondary" @click="onClickMove"><span class="fa fa-arrow-right"></span></button>
  </span>
    </div>
  </form>
</div>